%p
  ="#{t 'p_location'}"
.row
  .col-md-2
  .col-md-4
    #map
  .col-md-3
    #way_form
      = label_tag(:origin, "", id: 'time_origin')
      = text_field_tag(:origin, nil, placeholder: 'origin')
      %br
      = label_tag(:destination, "", id: 'time_destination')
      = text_field_tag(:destination, nil, placeholder: 'destination')
      %br
      = submit_tag "Get directions", id: 'get_directions'
      #distance_info
      #origin_info
      #destination